<<<<<<< HEAD
.gradienteMenu {
  background: rgb(11, 182, 204);
  background: linear-gradient(
    90deg,
    rgba(11, 182, 204, 1) 0%,
    rgba(176, 195, 199, 1) 100%
  );
}
p{
background-color: aquamarine;
}
#menu{
background-color: darkgray;
}
.menu{
background-color:gold;
}
=======
.gradienteMenu {
  background: rgb(11, 182, 204);
  background: linear-gradient(
    90deg,
    rgba(11, 182, 204, 1) 0%,
    rgba(176, 195, 199, 1) 100%
  );
}
>>>>>>> 7495b7e99b516ffc422e92fdcb6d6ef44a240c45
